/*
#ADD5F7
#35478C
#4E7AC7
#7FB2F0
#161938
*/

body {
  background-color: #ADD5F7;
  background-image: url(original_smiley_face.png);
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

img.center {
  display: block;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

label {
  width: 140px;
}

#HeadBannerSection{
  position: fixed;
  top: 0px;
  width: 100%;
  min-width: 750px;
  z-index: 100;
}

h1 {
  font-family: "Monotype Corsiva", cursive;
  font-size: 48px;
  color: #35478C;
  background-color: #7FB2F0;
  padding: 25px;
  border: 2px solid #161938;
  text-align: center;
}

h2 {
  font-family: "Monotype Corsiva", cursive;
  font-size: 18px;
  color: #35478C;
  padding: 10px;
  text-align: left;
}

#TableSection {
  position: relative;
  top: 100px;
  border: 2px;
  width: 1073px;
}

table {
  border: 2px solid #161938;
  width: 90%;
  min-width: 900px;
  margin: 10px;
}

td {
  width: 60px;
  border-bottom: 1px solid #4E7AC7;
  text-align: center;
  background-color: rgb(230,230,240);
  font-family: "Ubuntu";
  /*font-weight: 300;*/
}

.location {
  width: 150px;
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: italic;
  text-align: left;
}

th {
  background-color: #7FB2F0;
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
}

#AddWrap {
  position: relative;
  left: 10px;
  border: 2px solid #161938;
  height: 300px;
  width: 960px;
}

#Add1 {
  border: 2px solid #161938;
  width: 250px;
  height: 275px;
  margin: 10px;
  float: left;
}

#Add2 {
  border: 2px solid #161938;
  width: 20em;
  height: 265px;
  margin: 10px;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

#Add3 {
  border: 2px solid #161938;
  width: 250px;
  height: 275px;
  margin: 10px;
  float: right;
}


/*img {
  position: absolute;
  opacity: 0.1;
  top: 200px;
  left: 175px;
}
*/
